<%- include('head.ejs') %>

<h1>Countries</h1>

<% if (typeof data !== undefined && data.length !== 0) { %>
  <table>
    <caption>Some places I’ve been or would like to go.</caption>
    <tr>
      <th>Name</th>
      <th>Continent</th>
      <th>Capital</th>
    </tr>

   
        <tbody> 
            <% data.forEach(function (data){ %>)
          <tr>
            <!-- i tried making a link to /0 and make the server respond to that did not worked. Rendering the data worked out :) -->
            <td> <a href="/0"><%= data.name %> </a> </td> 
            <td><%= data.continent %> </td>
            <td><%= data.capital %> </td>
          </tr>
          <%})%>
        </tbody>
      </table>


  
    <!-- Step 3: Templates -->
  </table>
<% } else { %>
  <p>No countries yet.</p>
<% } %>

<p><a href="/add">Add a country</a></p>

<%- include('tail.ejs') %>
